.group
  %p
    Diagnoză computerizată

  = link_to '', 'http://google.com', class: 'logo-texa'

.group
  %p
    Dealer

  = link_to '', 'http://google.com', class: 'logo-ural'

.group
  %p
    Acceptăm

  = link_to '', 'http://google.com', class: 'logo-cards'

.group
  %p
    Partener la bine și la rău

  = link_to '', 'http://google.com', class: 'logo-jack'
