.container12
  .column3
    .logo-nav

  .column9
    %ul
      %li
        =link_to 'ACASĂ', '/'
      %li
        =link_to 'MOTO', '/moto.html'
      %li
        =link_to 'BĂRCI', '/barci.html'
      %li
        =link_to 'ALTE SERVICII', '/servicii.html'
      %li
        =link_to 'PIESE', '/piese.html'
      %li
        =link_to 'GALERIE', '/galerie.html'
      %li
        =link_to 'CONTACT', '/contact.html'
