---
title: Moto
id: barci
---

%header
  = partial 'partials/nav'

.container16
  .column12
    .content-box

      .left-cont
        %p
          Lucrări de întreținere curentă și mentenanță
          %br
          Reparația motorului și transmisiei
          %br
          Diagnosticarea computerizată a motorului
          %br
          Reparația și revizia structurii
          %br
          Reparația sistemelor electrice și electronice

      .right-cont
        %p
          Confecționarea accesoriilor metalice diverse
          %br
          Suduri de orice fel cu orice material sudabil
          %br
          Tapițari complete
          %br
          Execuție huse personalizate de depozitare
          %br
          și transport

      .clearfix

  .column3.prefix1
    %aside
      = partial 'partials/aside'
