---
title: Moto
id: contact
---

%header
  = partial 'partials/nav'

.container16
  .column11
    .content-box-map
      <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Calea%20Baciului%2045%2C%20Cluj-Napoca%2C%20Cluj%20County%2C%20Romania%20&key=AIzaSyD9kTM6hpMjQkDF7qCJ7HMz7SwHYjU0tsE"></iframe>

  .column5
    .content-box-contact
      %h2
        S.C. SF MOTO SUPREM S.R.L.

      = link_to '', 'http://facebook.com', class: 'logo-facebook'

      %p.cui
        J12/2641/2013
        %br
        CUI 32159587
        %br
        Cluj-Napoca, Calea Baciului nr 45

      %p.cont
        Cont: RO57BTRLRONCRT0223283901
        Banca Transilvania Cluj

      %p.email
        Email: sfmotosuprem@gmail.com

      %p.tel
        Birou: 0364 435 102
        %br
        Silviu: 0745 436 144
