---
title: Home
id: home
---

%header
  = partial 'partials/nav'

.container16
  .column10
    .content
      %h2
        Servicii profesionale de la motocicliști
        %br
        pentru motocicliști

      %hr

      %p
        Am înfințat acest service în 2013 pentru a ne împlini visul de a
        oferi servicii profesionale motociliștilor, iar echipa de încredere
        și spațiul generos ne permit să răspundem oricărei cereri a clientului.

      %p.found
        Fondatorii

      %p

  .column3.prefix3
    %aside
      = partial 'partials/aside'
