---
title: Moto
id: piese
---

%header
  = partial 'partials/nav'

.container16
  .column11
    .content-box
      %p
        Lucrări de întreținere curentă și mentenanță
        %br
        Reparații ale motoarelor și cutiilor de viteze
        %br
        Diagnosticarea computerizată și tuning motor
        %br
        Reparația și revizia suspensiilor
        %br
        Reparația și revizia sistemului de frânare

  .column5
    .content-box-logo
      = image_tag 'logo-brands.png'
