---
title: Moto
id: servicii
---

%header
  = partial 'partials/nav'

.container16
  .column12
    .content-box

      .container12
        .column6
          %p
            Vânzări motociclete în regim de consignație
            %br
            Vânzări ambarcațiuni în regim de consignație
            %br
            Vânzări echipamente moto în regim de consignație
            %br
            Găzduire moto indoor pe perioada rece

        .column6
          %p
            Găzduire ambarcațiuni outdoor
            %br
            Transport motociclete pe platformă
            %br
            Transport ambarcațiuni

  .column3.prefix1
    %aside
      = partial 'partials/aside'
